In [1]:
import os
os.getcwd()
os.chdir("D:\Ashwani\Learning\GreyAtom\Hackathon")
import pandas as pd
#df = pd.read_csv("H-1B_Disclosure_Data_FY17.csv")
#df.to_pickle("H-1B_Disclosure_Data_FY17.pkl")
df= pd.read_pickle("H-1B_Disclosure_Data_FY17.pkl")
df.columns

Index(['Unnamed: 0', 'CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED',
       'DECISION_DATE', 'VISA_CLASS', 'EMPLOYMENT_START_DATE',
       'EMPLOYMENT_END_DATE', 'EMPLOYER_NAME', 'EMPLOYER_BUSINESS_DBA',
       'EMPLOYER_ADDRESS', 'EMPLOYER_CITY', 'EMPLOYER_STATE',
       'EMPLOYER_POSTAL_CODE', 'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE',
       'EMPLOYER_PHONE', 'EMPLOYER_PHONE_EXT', 'AGENT_REPRESENTING_EMPLOYER',
       'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_STATE',
       'JOB_TITLE', 'SOC_CODE', 'SOC_NAME', 'NAICS_CODE', 'TOTAL_WORKERS',
       'NEW_EMPLOYMENT', 'CONTINUED_EMPLOYMENT', 'CHANGE_PREVIOUS_EMPLOYMENT',
       'NEW_CONCURRENT_EMPLOYMENT', 'CHANGE_EMPLOYER', 'AMENDED_PETITION',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'PW_UNIT_OF_PAY',
       'PW_WAGE_LEVEL', 'PW_SOURCE', 'PW_SOURCE_YEAR', 'PW_SOURCE_OTHER',
       'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY',
       'H1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'SUPPORT_H1B', 'LABOR_CON_AGREE',
       'PUBLIC_DISCLOSURE_LOCATION', 'WORKSITE_CITY', 'WORKSITE_COUNTY',
       'WORKSITE_STATE', 'WORKSITE_POSTAL_CODE', 'ORIGINAL_CERT_DATE'],
      dtype='object')

In [2]:
df["VISA_CLASS"].value_counts()

H-1B               610304
E-3 Australian      12157
H-1B1 Singapore      1254
H-1B1 Chile           935
Name: VISA_CLASS, dtype: int64

In [3]:
df = df[df["VISA_CLASS"] == "H-1B"]

# Removinng below variables as per reasons mentioned
Unnamed: 0 : Index variable so no need to include
NAICS_CODE : Not affecting the target variable
VISA_CLASS : There is only one value as we are only considering the H1B Visa
CASE_NUMBER : Case identification
WAGE_RATE_OF_PAY_FROM : This is correlated with Prevailing Wages
PW_Source : Not affecting the target variable and correlated with other Employer related metrics.
PREVAILING_WAGE : Converted into Categorical variable so no need to keep this
WAGE_RATE_OF_PAY_TO : This is correlated with Prevailing Wages and also very less values available here

In [4]:
drp = ["VISA_CLASS","WAGE_RATE_OF_PAY_TO","Unnamed: 0","CASE_NUMBER", "EMPLOYER_BUSINESS_DBA", 'EMPLOYER_ADDRESS',
       'EMPLOYER_CITY', 'EMPLOYER_POSTAL_CODE', 'EMPLOYER_COUNTRY','EMPLOYER_STATE','EMPLOYER_PROVINCE','EMPLOYER_PHONE', 
       'EMPLOYER_PHONE_EXT', 'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_CITY', 'SOC_NAME', 'PUBLIC_DISCLOSURE_LOCATION',
       'WORKSITE_CITY', 'WORKSITE_COUNTY','WORKSITE_POSTAL_CODE', 'ORIGINAL_CERT_DATE']

In [5]:
df_new = df.drop(drp,1)
df_new.columns

Index(['CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE', 'EMPLOYER_NAME',
       'AGENT_REPRESENTING_EMPLOYER', 'AGENT_ATTORNEY_STATE', 'JOB_TITLE',
       'SOC_CODE', 'NAICS_CODE', 'TOTAL_WORKERS', 'NEW_EMPLOYMENT',
       'CONTINUED_EMPLOYMENT', 'CHANGE_PREVIOUS_EMPLOYMENT',
       'NEW_CONCURRENT_EMPLOYMENT', 'CHANGE_EMPLOYER', 'AMENDED_PETITION',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'PW_UNIT_OF_PAY',
       'PW_WAGE_LEVEL', 'PW_SOURCE', 'PW_SOURCE_YEAR', 'PW_SOURCE_OTHER',
       'WAGE_RATE_OF_PAY_FROM', 'WAGE_UNIT_OF_PAY', 'H1B_DEPENDENT',
       'WILLFUL_VIOLATOR', 'SUPPORT_H1B', 'LABOR_CON_AGREE', 'WORKSITE_STATE'],
      dtype='object')

In [6]:
miss_cols = pd.DataFrame(df_new.isnull().sum()[((df_new.isnull().sum()/df_new.shape[0])*100)>30]).index.tolist()
df = df_new.drop(miss_cols,1)

In [7]:
df.shape

(610304, 29)

In [8]:
miss_cols

['AGENT_ATTORNEY_STATE', 'SUPPORT_H1B', 'LABOR_CON_AGREE']

In [9]:
df.head()

,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,AGENT_REPRESENTING_EMPLOYER,JOB_TITLE,SOC_CODE,NAICS_CODE,...,PW_UNIT_OF_PAY,PW_WAGE_LEVEL,PW_SOURCE,PW_SOURCE_YEAR,PW_SOURCE_OTHER,WAGE_RATE_OF_PAY_FROM,WAGE_UNIT_OF_PAY,H1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_STATE
0,CERTIFIED-WITHDRAWN,2016-02-24,2016-10-01,2016-08-10,2019-08-10,DISCOVER PRODUCTS INC.,Y,ASSOCIATE DATA INTEGRATION,15-1121,522210,...,Year,Level I,OES,2015.0,OFLC ONLINE DATA CENTER,65811.0,Year,N,N,IL
1,CERTIFIED-WITHDRAWN,2016-03-04,2016-10-01,2016-08-16,2019-08-16,DFS SERVICES LLC,Y,SENIOR ASSOCIATE,15-2031,522210,...,Year,NaN,Other,2015.0,TOWERS WATSON DATA SERVICES 2015 CSR PROFESSIO...,53000.0,Year,N,N,IL
2,CERTIFIED-WITHDRAWN,2016-03-10,2016-10-01,2016-09-09,2019-09-09,EASTBANC TECHNOLOGIES LLC,Y,.NET SOFTWARE PROGRAMMER,15-1131,541511,...,Year,Level II,OES,2015.0,OFLC ONLINE DATA CENTER,77000.0,Year,Y,N,DC
3,WITHDRAWN,2016-09-28,2016-10-01,2017-01-26,2020-01-25,INFO SERVICES LLC,N,PROJECT MANAGER,15-1199,541511,...,Year,Level III,OES,2016.0,OFLC ONLINE DATA CENTER,102000.0,Year,Y,N,NJ
4,CERTIFIED-WITHDRAWN,2015-02-22,2016-10-02,2015-03-01,2018-03-01,BB&T CORPORATION,Y,ASSOCIATE - ESOTERIC ASSET BACKED SECURITIES,13-2041,522110,...,Year,Level III,OES,2015.0,OFLC ONLINE DATA CENTER,132500.0,Year,N,N,NY

In [10]:
df.isnull().sum()

CASE_STATUS                         0
CASE_SUBMITTED                      0
DECISION_DATE                       0
EMPLOYMENT_START_DATE              24
EMPLOYMENT_END_DATE                24
EMPLOYER_NAME                      54
AGENT_REPRESENTING_EMPLOYER     92941
JOB_TITLE                           5
SOC_CODE                            2
NAICS_CODE                          7
TOTAL_WORKERS                       0
NEW_EMPLOYMENT                      0
CONTINUED_EMPLOYMENT                0
CHANGE_PREVIOUS_EMPLOYMENT          0
NEW_CONCURRENT_EMPLOYMENT           0
CHANGE_EMPLOYER                     0
AMENDED_PETITION                    0
FULL_TIME_POSITION                  5
PREVAILING_WAGE                     1
PW_UNIT_OF_PAY                     32
PW_WAGE_LEVEL                  119458
PW_SOURCE                          31
PW_SOURCE_YEAR                     31
PW_SOURCE_OTHER                  5931
WAGE_RATE_OF_PAY_FROM               0
WAGE_UNIT_OF_PAY                    8
H1B_DEPENDENT                       4
WILLFUL_VIOLATOR                    4
WORKSITE_STATE                      9
dtype: int64

In [11]:
df['YEAR_SUBMISSION']=pd.to_datetime(df['CASE_SUBMITTED']).dt.year

In [12]:
df = df.drop(['CASE_SUBMITTED'],1)

In [13]:
df["PW_WAGE_LEVEL"] = df["PW_WAGE_LEVEL"].fillna("Other")

In [14]:
df["PW_WAGE_LEVEL"].value_counts()

Level I      218613
Level II     176661
Other        119458
Level III     60950
Level IV      34622
Name: PW_WAGE_LEVEL, dtype: int64

In [15]:
df["AGENT_REPRESENTING_EMPLOYER"] = df["AGENT_REPRESENTING_EMPLOYER"].fillna("Unknown")

In [16]:
df["AGENT_REPRESENTING_EMPLOYER"].value_counts()

Y          343499
N          173864
Unknown     92941
Name: AGENT_REPRESENTING_EMPLOYER, dtype: int64

In [17]:
df = df.drop("PW_SOURCE_OTHER",1)

In [18]:
df["H1B_DEPENDENT"] = df["H1B_DEPENDENT"].fillna("Unknown")
df["WILLFUL_VIOLATOR"] = df["WILLFUL_VIOLATOR"].fillna("Unknown")

In [19]:
cols = df.columns
for column in cols:
    df[column].fillna(df[column].mode()[0], inplace=True)

In [20]:
df.isnull().sum()

CASE_STATUS                    0
DECISION_DATE                  0
EMPLOYMENT_START_DATE          0
EMPLOYMENT_END_DATE            0
EMPLOYER_NAME                  0
AGENT_REPRESENTING_EMPLOYER    0
JOB_TITLE                      0
SOC_CODE                       0
NAICS_CODE                     0
TOTAL_WORKERS                  0
NEW_EMPLOYMENT                 0
CONTINUED_EMPLOYMENT           0
CHANGE_PREVIOUS_EMPLOYMENT     0
NEW_CONCURRENT_EMPLOYMENT      0
CHANGE_EMPLOYER                0
AMENDED_PETITION               0
FULL_TIME_POSITION             0
PREVAILING_WAGE                0
PW_UNIT_OF_PAY                 0
PW_WAGE_LEVEL                  0
PW_SOURCE                      0
PW_SOURCE_YEAR                 0
WAGE_RATE_OF_PAY_FROM          0
WAGE_UNIT_OF_PAY               0
H1B_DEPENDENT                  0
WILLFUL_VIOLATOR               0
WORKSITE_STATE                 0
YEAR_SUBMISSION                0
dtype: int64

In [21]:
df = df[df["PW_SOURCE_YEAR"]>1900]  
df["PW_SOURCE_DURATION"] = 2019 - df["PW_SOURCE_YEAR"]
df = df.drop(["PW_SOURCE_YEAR"],1)

df["EMPLOYMENT_END_DATE"]= pd.to_datetime(df["EMPLOYMENT_END_DATE"])
df["EMPLOYMENT_START_DATE"] = pd.to_datetime(df["EMPLOYMENT_START_DATE"])
df["EMPLOYMENT_DURATION"] = (df["EMPLOYMENT_END_DATE"] - df["EMPLOYMENT_START_DATE"]).dt.days
df = df.drop(["EMPLOYMENT_END_DATE","EMPLOYMENT_START_DATE"],1)

In [22]:
#Transforming Wage columns to same unit "Year"
df.loc[df["PW_UNIT_OF_PAY"]=="Month","PREVAILING_WAGE"] = df.loc[df["PW_UNIT_OF_PAY"]=="Month","PREVAILING_WAGE"]*12
df.loc[df["PW_UNIT_OF_PAY"]=="Bi-Weekly","PREVAILING_WAGE"] = df.loc[df["PW_UNIT_OF_PAY"]=="Bi-Weekly","PREVAILING_WAGE"]*26
df.loc[df["PW_UNIT_OF_PAY"]=="Week","PREVAILING_WAGE"] = df.loc[df["PW_UNIT_OF_PAY"]=="Week","PREVAILING_WAGE"]*52
df.loc[df["PW_UNIT_OF_PAY"]=="Hour","PREVAILING_WAGE"] = df.loc[df["PW_UNIT_OF_PAY"]=="Hour","PREVAILING_WAGE"]*8*5*52

df = df.drop("PW_UNIT_OF_PAY",1)

In [23]:
df.loc[df["WAGE_UNIT_OF_PAY"]=="Month","WAGE_RATE_OF_PAY_FROM"] = df.loc[df["WAGE_UNIT_OF_PAY"]=="Month","WAGE_RATE_OF_PAY_FROM"]*12
df.loc[df["WAGE_UNIT_OF_PAY"]=="Bi-Weekly","WAGE_RATE_OF_PAY_FROM"] = df.loc[df["WAGE_UNIT_OF_PAY"]=="Bi-Weekly","WAGE_RATE_OF_PAY_FROM"]*26
df.loc[df["WAGE_UNIT_OF_PAY"]=="Week","WAGE_RATE_OF_PAY_FROM"] = df.loc[df["WAGE_UNIT_OF_PAY"]=="Week","WAGE_RATE_OF_PAY_FROM"]*52
df.loc[df["WAGE_UNIT_OF_PAY"]=="Hour","WAGE_RATE_OF_PAY_FROM"] = df.loc[df["WAGE_UNIT_OF_PAY"]=="Hour","WAGE_RATE_OF_PAY_FROM"]*8*5*52

df = df.drop("WAGE_UNIT_OF_PAY",1)

In [24]:
#Transforming Target into 2 classes
df.loc[df["CASE_STATUS"]=="DENIED","NEW_CASE_STATUS"] = "NOT CERTIFIED"
df.loc[df["CASE_STATUS"]=="WITHDRAWN","NEW_CASE_STATUS"] = "NOT CERTIFIED"
df.loc[df["CASE_STATUS"]=="CERTIFIED","NEW_CASE_STATUS"] = "CERTIFIED"
df = df.drop("CASE_STATUS",1)

In [25]:
df = df.loc[df['NEW_CASE_STATUS'].isin(["CERTIFIED", "NOT CERTIFIED"])]
df.head()

,DECISION_DATE,EMPLOYER_NAME,AGENT_REPRESENTING_EMPLOYER,JOB_TITLE,SOC_CODE,NAICS_CODE,TOTAL_WORKERS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,...,PW_WAGE_LEVEL,PW_SOURCE,WAGE_RATE_OF_PAY_FROM,H1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_STATE,YEAR_SUBMISSION,PW_SOURCE_DURATION,EMPLOYMENT_DURATION,NEW_CASE_STATUS
3,2016-10-01,INFO SERVICES LLC,N,PROJECT MANAGER,15-1199,541511,1,1,0,0,...,Level III,OES,102000.0,Y,N,NJ,2016,3.0,1094,NOT CERTIFIED
16,2016-10-02,ITAS INC,Y,COMPUTER SYSTEM ANALYST,15-1121,541519,1,0,0,0,...,Level I,OES,55000.0,N,N,NY,2016,3.0,1094,NOT CERTIFIED
194,2016-10-03,CLOUDWICK TECHNOLOGIES INC.,Y,HADOOP ADMINISTRATOR,15-1132,541511,1,0,0,0,...,Level I,OES,102149.0,Y,N,CA,2016,3.0,1084,CERTIFIED
195,2016-10-03,TATA CONSULTANCY SERVICES LIMITED,Y,DEVELOPER USER INTERFACE,15-1134,541511,1,0,0,0,...,Level III,OES,62500.0,Y,N,OH,2016,3.0,1089,CERTIFIED
196,2016-10-03,"HEALTH MANAGEMENT SYSTEMS, INC.",Y,SOLUTION ARCHITECT,15-1132,52429,1,0,1,0,...,Level II,OES,90664.0,N,N,TX,2016,3.0,1095,CERTIFIED

In [26]:
df.columns

Index(['DECISION_DATE', 'EMPLOYER_NAME', 'AGENT_REPRESENTING_EMPLOYER',
       'JOB_TITLE', 'SOC_CODE', 'NAICS_CODE', 'TOTAL_WORKERS',
       'NEW_EMPLOYMENT', 'CONTINUED_EMPLOYMENT', 'CHANGE_PREVIOUS_EMPLOYMENT',
       'NEW_CONCURRENT_EMPLOYMENT', 'CHANGE_EMPLOYER', 'AMENDED_PETITION',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'PW_WAGE_LEVEL', 'PW_SOURCE',
       'WAGE_RATE_OF_PAY_FROM', 'H1B_DEPENDENT', 'WILLFUL_VIOLATOR',
       'WORKSITE_STATE', 'YEAR_SUBMISSION', 'PW_SOURCE_DURATION',
       'EMPLOYMENT_DURATION', 'NEW_CASE_STATUS'],
      dtype='object')

In [27]:
df['NEW_CASE_STATUS'].value_counts()

CERTIFIED        533620
NOT CERTIFIED     27801
Name: NEW_CASE_STATUS, dtype: int64

In [28]:
def wage_categorization(wage):
    if wage <=50000:
        return "VERY LOW"
    elif wage >50000 and wage <= 70000:
        return "LOW"
    elif wage >70000 and wage <= 90000:
        return "MEDIUM"
    elif wage >90000 and wage<=150000:
        return "HIGH"
    elif wage >=150000:
        return "VERY HIGH"

In [29]:
df['WAGE_CATEGORY'] = df['PREVAILING_WAGE'].apply(wage_categorization)

In [30]:
df['WAGE_CATEGORY'].value_counts()

LOW          202521
MEDIUM       160052
HIGH         130059
VERY LOW      58171
VERY HIGH     10618
Name: WAGE_CATEGORY, dtype: int64

In [31]:
df = df.drop(['NAICS_CODE', 'WAGE_RATE_OF_PAY_FROM','PW_SOURCE','PREVAILING_WAGE'],1)

In [32]:
df.columns

Index(['DECISION_DATE', 'EMPLOYER_NAME', 'AGENT_REPRESENTING_EMPLOYER',
       'JOB_TITLE', 'SOC_CODE', 'TOTAL_WORKERS', 'NEW_EMPLOYMENT',
       'CONTINUED_EMPLOYMENT', 'CHANGE_PREVIOUS_EMPLOYMENT',
       'NEW_CONCURRENT_EMPLOYMENT', 'CHANGE_EMPLOYER', 'AMENDED_PETITION',
       'FULL_TIME_POSITION', 'PW_WAGE_LEVEL', 'H1B_DEPENDENT',
       'WILLFUL_VIOLATOR', 'WORKSITE_STATE', 'YEAR_SUBMISSION',
       'PW_SOURCE_DURATION', 'EMPLOYMENT_DURATION', 'NEW_CASE_STATUS',
       'WAGE_CATEGORY'],
      dtype='object')

In [33]:
df = df.drop(['DECISION_DATE',],1)
df.columns

Index(['EMPLOYER_NAME', 'AGENT_REPRESENTING_EMPLOYER', 'JOB_TITLE', 'SOC_CODE',
       'TOTAL_WORKERS', 'NEW_EMPLOYMENT', 'CONTINUED_EMPLOYMENT',
       'CHANGE_PREVIOUS_EMPLOYMENT', 'NEW_CONCURRENT_EMPLOYMENT',
       'CHANGE_EMPLOYER', 'AMENDED_PETITION', 'FULL_TIME_POSITION',
       'PW_WAGE_LEVEL', 'H1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'WORKSITE_STATE',
       'YEAR_SUBMISSION', 'PW_SOURCE_DURATION', 'EMPLOYMENT_DURATION',
       'NEW_CASE_STATUS', 'WAGE_CATEGORY'],
      dtype='object')

In [34]:
df.shape

(561421, 21)

In [35]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
categ = df.select_dtypes(exclude = np.number)
num = df.select_dtypes(include = np.number)
le = LabelEncoder()

In [36]:
categ.head()

,EMPLOYER_NAME,AGENT_REPRESENTING_EMPLOYER,JOB_TITLE,SOC_CODE,FULL_TIME_POSITION,PW_WAGE_LEVEL,H1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_STATE,NEW_CASE_STATUS,WAGE_CATEGORY
3,INFO SERVICES LLC,N,PROJECT MANAGER,15-1199,Y,Level III,Y,N,NJ,NOT CERTIFIED,HIGH
16,ITAS INC,Y,COMPUTER SYSTEM ANALYST,15-1121,Y,Level I,N,N,NY,NOT CERTIFIED,LOW
194,CLOUDWICK TECHNOLOGIES INC.,Y,HADOOP ADMINISTRATOR,15-1132,Y,Level I,Y,N,CA,CERTIFIED,HIGH
195,TATA CONSULTANCY SERVICES LIMITED,Y,DEVELOPER USER INTERFACE,15-1134,Y,Level III,Y,N,OH,CERTIFIED,LOW
196,"HEALTH MANAGEMENT SYSTEMS, INC.",Y,SOLUTION ARCHITECT,15-1132,Y,Level II,N,N,TX,CERTIFIED,MEDIUM

In [37]:
def categorisation_visagrant(ratio_of_acceptance):
    if ratio_of_acceptance == -1:
        return "AR"
    elif ratio_of_acceptance >=0.0 and ratio_of_acceptance<0.20:
        return "VLA"
    elif ratio_of_acceptance>=0.20 and ratio_of_acceptance<0.40:
        return "LA"
    elif ratio_of_acceptance>=0.40 and ratio_of_acceptance<0.60:
        return "MA"
    elif ratio_of_acceptance>=0.60 and ratio_of_acceptance<0.80:
        return "HA"
    elif ratio_of_acceptance>=0.80:
        return "VHA"

In [38]:
df_1 = categ.loc[:,['EMPLOYER_NAME', 'NEW_CASE_STATUS']]
df_1s = categ.loc[:,['SOC_CODE', 'NEW_CASE_STATUS']]
df_1j = categ.loc[:,['JOB_TITLE', 'NEW_CASE_STATUS']]

In [39]:
df_2_C = df_1[df_1.NEW_CASE_STATUS == 'CERTIFIED'].EMPLOYER_NAME
df_2_Cs = df_1s[df_1s.NEW_CASE_STATUS == 'CERTIFIED'].SOC_CODE
df_2_Cj = df_1j[df_1j.NEW_CASE_STATUS == 'CERTIFIED'].JOB_TITLE
positive_counts = df_2_C.value_counts()
positive_counts_s = df_2_Cs.value_counts()
positive_counts_j = df_2_Cj.value_counts()
total_counts = df_1.EMPLOYER_NAME.value_counts()
total_counts_s = df_1s.SOC_CODE.value_counts()
total_counts_j = df_1j.JOB_TITLE.value_counts()

In [40]:
final_ratio_series = positive_counts / total_counts
final_ratio_series.fillna(-1, inplace=True)
final_classification_employer = final_ratio_series.apply(categorisation_visagrant)
categ['EMPLOYER_ACCEPTANCE'] = categ.EMPLOYER_NAME.map(final_classification_employer)

C:\Users\ADITI\Anaconda3\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [41]:
final_ratio_series_s = positive_counts_s / total_counts_s
final_ratio_series_s.fillna(-1, inplace=True)
final_classification_soc = final_ratio_series_s.apply(categorisation_visagrant)
categ['SOC_ACCEPTANCE'] = categ.SOC_CODE.map(final_classification_soc)

C:\Users\ADITI\Anaconda3\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [42]:
final_ratio_series_j = positive_counts_j / total_counts_j
final_ratio_series_j.fillna(-1, inplace=True)
final_classification_job = final_ratio_series_j.apply(categorisation_visagrant)
categ['JOB_ACCEPTANCE'] = categ.JOB_TITLE.map(final_classification_job)

C:\Users\ADITI\Anaconda3\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [43]:
categ = categ.drop(['JOB_TITLE','SOC_CODE','EMPLOYER_NAME'],1)

In [44]:
categ.head()

,AGENT_REPRESENTING_EMPLOYER,FULL_TIME_POSITION,PW_WAGE_LEVEL,H1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_STATE,NEW_CASE_STATUS,WAGE_CATEGORY,EMPLOYER_ACCEPTANCE,SOC_ACCEPTANCE,JOB_ACCEPTANCE
3,N,Y,Level III,Y,N,NJ,NOT CERTIFIED,HIGH,VHA,VHA,VHA
16,Y,Y,Level I,N,N,NY,NOT CERTIFIED,LOW,MA,VHA,VHA
194,Y,Y,Level I,Y,N,CA,CERTIFIED,HIGH,VHA,VHA,VHA
195,Y,Y,Level III,Y,N,OH,CERTIFIED,LOW,VHA,VHA,VHA
196,Y,Y,Level II,N,N,TX,CERTIFIED,MEDIUM,VHA,VHA,VHA

In [45]:
X = categ.drop(['NEW_CASE_STATUS'],1)
y = categ['NEW_CASE_STATUS']

In [46]:
df_train = pd.get_dummies(X, drop_first=True)
df_train.head()

,AGENT_REPRESENTING_EMPLOYER_Unknown,AGENT_REPRESENTING_EMPLOYER_Y,FULL_TIME_POSITION_Y,PW_WAGE_LEVEL_Level II,PW_WAGE_LEVEL_Level III,PW_WAGE_LEVEL_Level IV,PW_WAGE_LEVEL_Other,H1B_DEPENDENT_Unknown,H1B_DEPENDENT_Y,WILLFUL_VIOLATOR_Unknown,...,SOC_ACCEPTANCE_HA,SOC_ACCEPTANCE_LA,SOC_ACCEPTANCE_MA,SOC_ACCEPTANCE_VHA,SOC_ACCEPTANCE_VLA,JOB_ACCEPTANCE_HA,JOB_ACCEPTANCE_LA,JOB_ACCEPTANCE_MA,JOB_ACCEPTANCE_VHA,JOB_ACCEPTANCE_VLA
3,0,0,1,0,1,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
16,0,1,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
194,0,1,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
195,0,1,1,0,1,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
196,0,1,1,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [47]:
df = pd.concat([num,df_train,pd.DataFrame(y)],1)
df.head()

,TOTAL_WORKERS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,YEAR_SUBMISSION,PW_SOURCE_DURATION,EMPLOYMENT_DURATION,...,SOC_ACCEPTANCE_LA,SOC_ACCEPTANCE_MA,SOC_ACCEPTANCE_VHA,SOC_ACCEPTANCE_VLA,JOB_ACCEPTANCE_HA,JOB_ACCEPTANCE_LA,JOB_ACCEPTANCE_MA,JOB_ACCEPTANCE_VHA,JOB_ACCEPTANCE_VLA,NEW_CASE_STATUS
3,1,1,0,0,0,0,0,2016,3.0,1094,...,0,0,1,0,0,0,0,1,0,NOT CERTIFIED
16,1,0,0,0,0,1,0,2016,3.0,1094,...,0,0,1,0,0,0,0,1,0,NOT CERTIFIED
194,1,0,0,0,0,1,0,2016,3.0,1084,...,0,0,1,0,0,0,0,1,0,CERTIFIED
195,1,0,0,0,0,0,1,2016,3.0,1089,...,0,0,1,0,0,0,0,1,0,CERTIFIED
196,1,0,1,0,0,0,0,2016,3.0,1095,...,0,0,1,0,0,0,0,1,0,CERTIFIED

In [48]:
df_1 = df[df['NEW_CASE_STATUS']=='CERTIFIED']
df_2 = df[df['NEW_CASE_STATUS']=='NOT CERTIFIED']

In [49]:
df_1.shape

(533620, 97)

In [50]:
dfap = df_1.sample(n=40000)
df = pd.concat([df_2,dfap])

In [51]:
df['NEW_CASE_STATUS'].value_counts()

CERTIFIED        40000
NOT CERTIFIED    27801
Name: NEW_CASE_STATUS, dtype: int64

In [53]:
dict_cs = {"CERTIFIED" : 1, "NOT CERTIFIED": 0}  
df['NEW_CASE_STATUS'] = df['NEW_CASE_STATUS'].apply(lambda x: dict_cs[x])

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
rfe = RFE(model, 7)
fit = rfe.fit(df.iloc[:,1:], df.iloc[:,0])
support_rfe = rfe.support_
length_cols = list(df.iloc[:,1:].columns.values)
list_selected = []
for index in range(len(length_cols)):
    if support_rfe[index] == True:
        list_selected.append(length_cols[index])
    else:
        pass
print(list_selected)
print(rfe.ranking_)

C:\Users\ADITI\Anaconda3\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ADITI\Anaconda3\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\ADITI\Anaconda3\Anaconda\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\ADITI\Anaconda3\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ADITI\Anaconda3\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [ ]:
X = df.drop(["NEW_CASE_STATUS"],1)
y = df["NEW_CASE_STATUS"]
X.columns

In [ ]:
from sklearn.model_selection import train_test_split as tts
X_train,X_test,y_train,y_test = tts(X,y,test_size = 0.3,random_state = 42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=42,n_estimators=100)
rfc.fit(X_train, y_train)

In [ ]:
y_pred = rfc.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
#accuracy_score(y_test,y_pred)
accuracy_score(y_train, rfc.predict(X_train))

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

In [ ]:
import matplotlib.pyplot as plt
fi = pd.Series(rfc.feature_importances_,index = list(X))
fi = fi.sort_values(ascending = True)
fi = fi.head(20)
fi.plot(kind="barh")
plt.show()

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)
y_pred_dt = dt.predict(X_test)

from sklearn.ensemble import BaggingClassifier
bag_clf = BaggingClassifier(base_estimator=dt, n_estimators=50,
                            bootstrap=True, n_jobs=-1, random_state=42)
bag_clf.fit(X_train, y_train)
y_pred_bag = bag_clf.predict(X_test)
print("Testing Accuracy : ",accuracy_score(y_test,y_pred_bag))
print("Training Accuracy : ",accuracy_score(y_train, bag_clf.predict(X_train)))

In [ ]:
import xgboost as xgb
xgb_clf = xgb.XGBClassifier(n_estimators=150,max_depth=7,learning_rate=0.08,subsample=0.75)
xgb_clf.fit(X_train, y_train.ravel())
y_pred_xgb = xgb_clf.predict(X_test)

print("Testing Accuracy : ",accuracy_score(y_test,y_pred_xgb))
print("Training Accuracy : ",accuracy_score(y_train, xgb_clf.predict(X_train)))

In [ ]:
print(classification_report(y_test,y_pred_xgb))

In [ ]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_pred_bag))